<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<nav>
			<div class="navLeft">
				<a href="/">Créé article</a>
			</div>
			<div class="navRight">
				<a href="/liste">Listes articles</a>
			</div>
		</nav>
		<h1>Liste des articles</h1>
		<div class="container">

			{% for article in list %}
				<a href="/blog/{{article.id}}">
					<div class="block">
						<p>{{article.nom}}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</body>
</html>
