<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Liste des articles</title>
	</head>
	<body>
		<nav>
			<div class="navLeft">
				<a href="/">Créé article</a>
			</div>
			<div class="navRight">
				<a href="/liste">Listes articles</a>
			</div>
		</nav>
		<h1 style="margin-top: 1em;">Liste des articles</h1>
		
		<div class="container">
			<img src="./static/sonic.jpg" alt="sonic">
			{% for article in list %}
				<div>
					<form action="/delete/{{ article.id }}" method="post">
						<button class="deleteForm" type="submit">X</button>
					</form>
					<a href="/blog/{{article.id}}">
						<div class="block">
							<p>{{article.nom}}</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
